{:paths ["src"]
 
 :deps
 {org.clojure/clojure                       {:mvn/version "1.10.0"}
  io.github.resilience4j/resilience4j-cache {:mvn/version "0.13.2"}
  javax.cache/cache-api                     {:mvn/version "1.1.0"}}

 :aliases
 {:cache2k
  {:extra-deps
   {org.cache2k/cache2k-jcache    {:mvn/version "1.2.0.Final"}}}

  :inifinispan
  {:extra-deps
   {org.infinispan/infinispan-embedded    {:mvn/version "9.1.7.Final"}}}
  
  :dev
  {:extra-paths ["dev"]
   :extra-deps
   {org.clojure/tools.namespace      {:mvn/version "0.2.11"}
    org.clojure/tools.nrepl          {:mvn/version "0.2.13"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "0.0-413"}}
   :main-opts ["-m" "kaocha.runner"]}}}
